body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
#pantalla{
    background-size: cover;
    background-position: center;
    background-image: url(imagenes/fondo.png);
    width: 100%;
    height: 100%;
    position: relative;
    background-color : white;
}
#pantalla-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1100px;
    height: 1000px;
    margin-left: 600px;
    margin-top: 70px;

}
#containerInicial{
    background-color: white;
    background-size: cover;
    background-position: center; /* Opcional: centra la imagen */
    background-image: url(imagenes/pantallaInicial.png);
    border-radius: 80px  ;
    border: 20px solid #393e46;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
    width: 1000px;
    height: 2000px;
}
#tiempo-container {
    position: fixed;
    top: 10px; /* Ajusta la posición según tus necesidades */
    right: 10px; /* Ajusta la posición según tus necesidades */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#tiempo {
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 5px;
}

#dialogo {
    position: absolute;
    left: 1225px; /* Posición desde el lado izquierdo de la pantalla */
    top: 330px;
}
#bocadillo {
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
}
#wasd{
    width: 315px;
    height: 350px;
    background-image: url('imagenes/wasd.png');
    top:-300px;
    left: 950px;
    position: absolute;
    background-size: cover;
}
#bocadilloInGame{
    margin-top: -120px;
    width: 1100px;
    height: 550px;
    background-image: url('imagenes/bocadillo2.png');
    top:0px;
    left: 500px;
    position: absolute;
    background-size: cover;
    
}
#texto{
    padding: 10px;
    border-radius: 10px;
    top: 180px;
    left: 170px;
    max-width: 850px;
    text-align: left;
    font-family: 'Quantico', sans-serif;
    font-size: 30px;
    position: absolute;
}
#siguienteBtn, #comenzarBtn {
    position: absolute;
    top: 749px; /* Posición desde el fondo de la pantalla */
    left: 1378px; /* Posición desde el lado izquierdo de la pantalla */
    transform: translateX(-50%); /* Centra el botón */
    cursor: pointer;
    padding: 10px 20px; /* Ajusta el padding como sea necesario */
    font-size: 38px; /* Ajusta el tamaño de fuente como sea necesario */
    font-family: 'Quantico', sans-serif;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    color: white; /* Color de texto blanco */
    width: 340px;
    height: 103px;
    
}
#siguienteBtn:hover, #comenzarBtn:hover {
    font-size: 38px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Quantico', sans-serif;
    background:  #FF8529;
  }

.mensaje {
    font-size: 38px; 

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#juego{
    top: 200px;
    position: relative;
    height: 100%;
    width: 100%;
}
#laia{
    height: 700px;
    width: 550px;
    left: 100px;
    top: 35.2%;
    position: absolute;
    background-image: url('imagenes/laia3.png');
    background-position: bottom;
    background-size: cover;
}
#game-container {
    margin-top: -70px;
    top: 20px;
    width: 1150px;
    height: 805px;
    position: relative;
    top: 30%;
    left: 600px;
    background-color :rgb(255, 254, 253);
    border-radius: 80px  ;
}
#casillas-objetos-conseguidos {
    width: 147px;
    height: 700px;
    padding: 10px;
    top: 0px;
    left: 1250px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 40px  ;
}

.casilla-objeto {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 40px  ;
    height: 114px;
    width: 110px;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}

/* estilos del plano de la casa*/
#techo1{
    width: 42%;
    height: 14%;
    position: absolute;
    left: 23.8%;
    top: 0%;
    background-color:black;

}
#techo2{
    width: 23%;
    height: 66%;
    position: absolute;
    left: 65%;
    top: 0%;
    background-color:black;

}
#techo3{
    width: 31.7%;
    height: 33%;
    position: absolute;
    left: 17%;
    top: 67%;
    background-color:black;

}
#habitacion1{
    background-color: burlywood;
    background-image: url("imagenes/plano2.png");
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 100%;
    border-radius: 80px  ;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}
#character{
    width: 64px; 
    height: 64px; 
    position: absolute;
}
#characterImg {
    width: 64px;
    height: 64px; 
    position: absolute;
}


#bordeDer {
    width: 3px;
    height: 100%;
    position: absolute;
    background-color: #0c0c0c;
    left:89%;
    top:0%;
}
#bordeIz {
    width: 3px;
    height: 61%;
    position: absolute;
    background-color: #0c0c0c;
    left:7.5%;
    top:0%;
}
#izA{
    width: 19.7px;
    height: 30%;
    position: absolute;
    background-color: #0c0c0c;
    left:8.93%;
    top:0%;
}
#izB{
    width: 19.7px;
    height: 15%;
    position: absolute;
    background-color: #0c0c0c;
    left:8.93%;
    top:44.5%;
}
#izC{
    width: 14.5%;
    height: 19.7px;
    position: absolute;
    background-color: #0c0c0c;
    left:8.93%;
    top:57%;
}
#izD{
    width: 19.7px;
    height: 10%;
    position: absolute;
    background-color: #0c0c0c;
    left:23%;
    top:57%;
}
#cenA{
    width: 19.7px;
    height: 20%;
    position: absolute;
    background-color: #0c0c0c;
    left:35.3%;
    top:14%;
}
#cenB{
    width: 19.7px;
    height: 17%;
    position: absolute;
    background-color: #0c0c0c;
    left:35.3%;
    top:48%;
}
#techoA{
    width: 99px;
    height: 15%;
    position: absolute;
    background-color: #0c0c0c;
    left: 48%;
    top:67%;
}
#abajoA{
    width: 19.7px;
    height: 20%;
    position: absolute;
    background-color: #0c0c0c;
    left:64.3%;
    top:80%;
}
#derA{
    width: 19.7px;
    height: 13%;
    position: absolute;
    background-color: #0c0c0c;
    left:86.3%;
    top:67%;
}
#derB{
    width: 19.7px;
    height: 7%;
    position: absolute;
    background-color: #0c0c0c;
    left:86.3%;
    top:93%;
}
#bordeArrb {
    width: 80%;
    height: 3px;
    position: absolute;
    background-color: #0c0c0c;
    left:8%;
    top:0%;
}
#bordeAbj{
    width: 74%;
    height: 3px;
    position: absolute;
    background-color: #0c0c0c;
    left:15.3%;
    top:99.7%;
}
#puerta12{
    width: 7.5%;
    height: 1.5%;
    background-color: transparent;
    position: absolute;
    left: 39.5%;
    top: 14%;
}
#puerta13{
    width: 7.5%;
    height: 1.5%;
    background-color: transparent;
    position: absolute;
    left: 54.7%;
    top: 14%;
}
#puerta14{
    width: 1.5%;
    height: 9.1%;
    background-color: transparent;
    position: absolute;
    left: 48.2%;
    top: 88.3%;
}
#puerta15{
    width: 6.8%;
    height: 1.5%;
    background-color: transparent;
    position: absolute;
    left: 66.2%;
    top: 66%;
}
#puerta16{
    width: 1.5%;
    height: 12%;
    background-color: transparent;
    position: absolute;
    left: 88%;
    top: 80%;
}
/*Estilos de puertas al pasar el ratón por encima*/
.puertaResaltada{
    background-color: #464036; /* Color de fondo (en este caso, naranja) */
    opacity: 0.5; /* Opacidad  */
    position: absolute;
}
.objetoResaltado {
    background-color: #464036; /* Color de fondo (en este caso, naranja) */
    opacity: 0.5; /* Opacidad  */
    border:white 2px solid ;
    border-radius: 5%;
    position: absolute;
}
.flecha{
    background-color: burlywood;
    background-image: url("imagenes/flecha.png");
    background-size: cover;
    background-position: center;
    position: absolute;border-radius: 10px;
    height: 14%;
    width: 10%;
    top: 85%;
    left: 45%;
    opacity: 0.8;
}
/*Estilos de la habitación 2*/
#habitacion2{
    background-color: burlywood;
    background-image: url("imagenes/habitacion2.png");
    background-size: cover;
    background-position: center; /* Opcional: centra la imagen */
    width: 100%;
    height: 100%;
    border-radius: 80px  ;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}
#llave{
    position: absolute;
    width: 3.5%;
    height: 4.5%;
    top:24%;
    left: 75.5%;
}
#veleta{
    position: absolute;
    width: 3.3%;
    height: 2.5%;
    top:55.4%;
    left: 48%;
}
#puerta3{
    width: 12%;
    height: 32%;
    position: absolute;
    top: 22%;
    left: 17.5%;
}
#habitacion3{
    background-color: burlywood;
    background-image: url("imagenes/cocina.png");
    background-size: cover;
    background-position: center; /* Opcional: centra la imagen */
    width: 100%;
    height: 100%;
    border-radius: 80px  ;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}
/*Estilos de la habitación 3*/
#habitacion4{
    background-color: chocolate;
    background-image:url("imagenes/habitacion4.png");
    background-position: center; /* Opcional: centra la imagen */
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 80px  ;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}
#notaContrasenya{
    width: 5%;
    height: 5%;
    position: absolute;
    top: 64%;
    left: 69%;
}
#puerta5{
    width: 9.5%;
    height: 33%;
    position: absolute;
    top: 34%;
    left: 45.9%;
    
}
/*Estilos de la habitación 31*/
#habitacion5{
    background-color: chocolate;
    background-image:url("imagenes/habitacionMadera.png");
    background-position: center; /* Opcional: centra la imagen */
    background-size: cover;
    width: 100%;
    height: 100%;
    top:90%;
    left: 85%;
    border-radius: 80px  ;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}
#libroMolinos{
    position: absolute;
    width: 4%;
    height: 10%;
    top:82%;
    left: 81%;
}
#libro1H5{
    position: absolute;
    width: 0.8%;
    height: 8%;
    top:14.9%;
    left: 27.5%;
}
/*Estilos de la habitación 4*/

#habitacion6{
    background-color: chocolate;
    background-image:url("imagenes/puertaCerrada.png");
    background-position: center; /* Opcional: centra la imagen */
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 80px  ;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}
#puerta7{
    width: 5%;
    height: 5.5%;
    position: absolute;
    top: 53%;
    left: 83%;
}
/*Estilos de la habitación 41*/

#habitacion7{
    background-color: chocolate;
    background-image:url("imagenes/almacen.png");
    background-position: center; /* Opcional: centra la imagen */
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 80px  ;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}
#aerogenerador{
    width: 28%;
    height: 56.5%;
    position: absolute;
    top: 23%;
    left: 36.3%;
}

/*Estilos de la habitación 51*/
#habitacion8{
    background-color: chocolate;
    background-image:url("imagenes/oficina.png");
    background-position: center; /* Opcional: centra la imagen */
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 80px  ;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}
#libroAire{
    width: 13%;
    height: 8%;
    position: absolute;
    top: 23.5%;
    left: 73%;
}
/* Es el cajón con la bombilla dentro*/

/*habitacion 10 (puerta contraseña)*/
#habitacion10{
    background-color: white;
    background-image:url("imagenes/habPuertaContrasenya.png");
    background-position: center; /* Opcional: centra la imagen */
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 80px;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}
#botanica{
    width: 10%;
    height: 8%;
    position: absolute;
    top: 32%;
    left: 25%;
}
#puerta11{
    width: 12%;
    height: 35%;
    position: absolute;
    top: 26%;
    left: 49%;
}
.dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
/*habitacion 11 (escaleras)*/
#habitacion11{
    background-color: white;
    background-image:url("imagenes/habitacionPenDrive.png");
    background-color:browns;
    background-position: center; /* Opcional: centra la imagen */
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 80px  ;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}
#penDrive{
    width: 8.3%;
    height: 7.4%;
    position: absolute;
    top: 49%;
    left: 43.3%;
}