@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    background-color: #f9f9f9; /* Fondo blanco */
    z-index: 1;
    margin: 0;
    /*font-family: 'Bebas Neue', serif;*/

}
.navbar {
background-color: #fffffff8; /* Barra de navegación verde */
margin: 0;
padding: 0;
z-index: 2;
font-family: 'Bebas Neue', serif;

}

p{
  font-family: 'Roboto', sans-serif;
}
.inicionubesyjuego{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% del viewport height */
  overflow: hidden;
}

.titulopagina{
  padding-top: 15px;
}

.container-game {
  
    padding: 50px;
    text-align: center;
    background-color: #ffffff;;

}

.nubesinicio{
  float: left;
  width: 440px;
  height: 300px;
}

.nubesinicio2{
  margin-top: 340px;
  float: right;
  width: 420px;
  height: 330px;
}

.textcontact{
    text-align: center;
}


.container-games-section{
    padding: 50px;
    text-align: center;
    background-color: #ffffff;
}

.jumbotron {
    background-color: #4CAF50; /* Fondo verde para la sección del juego */
    color: #ffffff;
    text-align: center;
}
.game-section {
    margin-top: 50px;
}
.contact-section {
    margin-top: 50px;
}
header {
    background-image: url('img/header-bg.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajustar la imagen al tamaño del encabezado */
    background-position: center; /* Centrar la imagen */
    height: 550px; /* Altura del encabezado */
    color: #fff; /* Color de texto */
    text-align: center;
    padding: 60px;
}
.navbar-brand img {
margin-top: 0;
padding: 0;
display: block;
}
.conten_encabezado {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 15px;
    box-sizing: border-box;
    margin-top: 155px;
}



@media screen and (max-width: 600px) {
    .conten_encabezado h1 {
        font-size: 50px;
        padding-bottom: 30px;
    }
    .conten_encabezado h3{
        font-size: 15px
    }
    .saber btn btn-success btn-lg {
        font-size: 16px;
        padding: 10px 20px;
        background-color: #147ffa;;
        
    }
}


.minijuegos{
width: 300px;
}
.navbar-nav{
font-size: 20px;
padding: 6px;
}
h1, h3, h4{
font-family: 'Bebas Neue', serif;
}
h2{
  font-family: 'Bebas Neue', serif;
  color: #726f77;

}
.titulonav {
  font-family: 'Bebas Neue', serif;
  font-size: 70px;
}


.procesos{
    background: #f9f9f9;
    
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', serif;
    line-height: 20px;
    font-size: 14px;
    color: #726f77;
}
.project-name {
    text-align: center;
    padding: 10px 0;
}


#timeline {
    width: 100%;
    margin: 30px auto;
    position: relative;
    padding: 0 10px;
}

#timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #00b321;
    left: 50%;
    top: 0;
    position: absolute;
}

#timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
}

.timeline-item {
    margin-bottom: 50px;
    position: relative;
    clear: both; /* Added to clear float */
}

.timeline-icon {
    background: #00b321;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-left: -23px;
    border-radius: 50%;
}

.timeline-icon {
    position: relative;
    top: 50px;
    color: #000;
    background-image: url('');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center center;
}

.timeline-content {
    width: 45%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.timeline-content h2 {
    padding: 15px;
    background: #00b321;
    color: #fff;
    margin: -20px -20px 0 -20px;
    font-weight: 300;
    border-radius: 3px 3px 0 0;
}

.timeline-content:before {
    content: '';
    position: absolute;
    left: 45%;
    top: 70px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #00b321;
}

.timeline-content.right {
    float: right;
}

.timeline-content.right:before {
    content: '';
    right: 45%;
    left: inherit;
    border-left: 0;
    border-right: 7px solid #00b321;
}
.boton {
    padding: 5px 15px;
    text-decoration: none;
    background-color: #ff8529;
    border: 2px solid #ff913c;
    color: #fdfdfd;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    transition: background 0.3s ease;
    -webkit-box-shadow: 2px 2px 0 #1e2327;
    -moz-box-shadow: 2px 2px 0 #1e2327;
    -ms-box-shadow: 2px 2px 0 #1e2327;
    box-shadow: 2px 2px 0 #1e2327;
}
.boton:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;
    -webkit-box-shadow: 2px 2px 0 transparent;
    -moz-box-shadow: 2px 2px 0 transparent;
    -ms-box-shadow: 2px 2px 0 transparent;
    box-shadow: 2px 2px 0 transparent;
}
@media screen and (max-width: 768px) {
    #timeline {
        margin: 30px;
        padding: 0px;
        width: 90%;
   }
    #timeline:before {
        left: 0;
   }
    #timeline .timeline-item .timeline-content {
        width: 90%;
        float: right;
   }
    #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
        left: 10%;
        margin-left: -6px;
        border-left: 0;
        border-right: 7px solid #00b321;
   }
    #timeline .timeline-item .timeline-icon {
        left: 0;
   }
}

.despopout{
  font-size: 23px;
}
/*
* {
  font-family: 'Bebas Neue', serif;
}
  */
  .responsive-cell-block {
    min-height: 75px;
  }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: space-evenly;
  }
  
  .team-head-text {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
  }
  
  .team-head-text {
    line-height: 50px;
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  
  .container {
    max-width: 1380px;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
  }
  
  .card {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-left: 25px;
  }
  .Linkedinicon{
    width: 30px;
    height: 0px;
  }
.equipo{

    text-align: center;

}
  .card-container {
    width: 250px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
  }
  
  .name {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 18px;
    font-weight: 800;
  }
  
  .position {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .feature-text {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    color: rgb(122, 122, 122);
    line-height: 30px;
  }
  
  .social-icons {
    width: 70px;
    text-align: center;
    align-items: center;
  }
  
  .team-image-wrapper {
    clip-path: circle(50% at 50% 50%);
    width: 130px;
    height: 130px;
  }
  
  .team-member-image {
    max-width: 100%;
  }
  
  @media (max-width: 500px) {
    .card-container {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 25px;
      margin-left: 0px;
    }
  }

  .minijuegos {
    position: relative; /* Necesario para posicionar el overlay */
    width: 100%;
    height: auto;
    transition: filter 0.3s ease-in-out;
    background-color: rgba(0, 255, 0, 0.7); /* Color verde con transparencia */

}


/* Resto del estilo, puedes mantener el filtro de brillo si lo deseas */
.minijuegos:hover {
    filter: brightness(60%);
    cursor: pointer;
}


/*descripcion superpuesta*/

.container-games-section {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-around;
}

.col-md-3 {

  text-align: center;
  position: relative;
}
.col-md-3:hover {
  filter: brightness(60%);
  cursor: pointer;
  text-align: center;
  position: relative;
  
}


.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 0, 0); /* Inicialmente transparente */
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
}

.popup {
  
  display: none;
  position: fixed;
  align-items: center;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  z-index: 2;
}

 
.airplane{
  left: 92px;
  top: 82px;
  position: absolute;
  height: 5%;
  width: 5%;
}
.pin{
  position: absolute;
  height: 20px;
  width: 20px;

}
.gameArea{
  position: relative;
  height: 600px; 
  width: 1000px;
}
#europe{
  top: 231px;
  left: 453px;
}
#brazil{
  top: 371px;
  left: 320px;
}
#india{
  top: 296px;
  left: 674px;
}
#kenya{
  top: 333px;
  left: 551px;
}
#worldMap{
  height: 100%;
  width: 100%;
}
#planeimg{
  
  height: 100%;
  width: 100%;
}
#flagContainer{
  top: 0%;
  left: 90%;
  position: absolute;
  height: 15%;
  width: 10%;
}
#flag{
  object-fit: fill; 
  height: 100%;
  width: 100%;
}
#arrowKeyGif{
  top: 0%;
  left: 45%;
  position: absolute;
  height: 15%;
  width: 15%;
}
