body, html {
    overflow: hidden
  }
  #imgBin{
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 450px;
    z-index: 2;
  }

  #bin {
    position: absolute;
    width: 150px;
    height: 150px;
}

#imgDragable{
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
}
#background{
  position: absolute;
  z-index:-2;
  left: 0;
  top: 0;
}
#cardObj{
  width: 190px;
  height: 254px;
  top: 600px;
  left: 1500px;
  position: absolute;
}
#cardProgress{
  width: 350px;
  height: 200px;
  top: 10px;
  left: 15px;
  position: absolute;
}
#clock{
  position: absolute;
 top: 50px;
 left: 490px;
 color: white;
}
.dragable {
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 150px;
    position: absolute;
    cursor: grab;
}
.card {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 30px #bebebe,
                -20px -20px 60px #ffffff;
                display: flex;
    justify-content: center;
    align-items: center
 }
 .help {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
    box-shadow:
      0 0 800px 10px ,  /* inner white */
      0 0 20px 5px rgb(255, 136, 0), /* middle magenta */
      0 0 30px 18px rgb(255, 208, 0); /* outer cyan */
 }

 .eye{
width: 60px;
height: 60px;

position: absolute;
background:
#fff;
border-radius:50%;
}

 .pupil{
  width: 15px;
height: 15px;
background:#000;
border-radius: 50%;
position: absolute;
left: 50%;
top: 50%;
margin-left: -7.5px;
margin-top: -7.5px;
 }

 .eye:nth-child(1){
  left: 84px;
  top: 105px;
  }

  .eye:nth-child(2){
  left: 146px;
  top: 113px;
  }
  #girl{
  height: max-content;
  width: max-content;
  position: absolute;
  top: 240px;
  left: 10px;
  }
  #gameBoard{
    position: relative;
    height: 1024px;
    width: 1024px;
    top: 0px;
    left: 400px;
  }
  #win
  {
position: absolute;
top: 35%;
left: 30%;
font-size: 50px;
font-weight: bold;
height: 260px;
width: 450px;
  }
  .button {
    position: absolute;
    top: 50%;
    left: 45%;
    border-radius: 50px;
    margin-top: 15px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Quantico', sans-serif;
    background: #147FFA;
   
   }
   
   #startGameButton:hover {
    font-size: 20px;
    color: #147FFA;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Quantico', sans-serif;
    background: hsl(0, 0%, 100%);
  }